<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js"></script>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap">
</head>
<body>
    <div class="container">
        <div class="login-controls">
            <input id="email-input" type="email" placeholder="Email">
            <input id="password-input" type="password" placeholder="Password">
            <button id="login-button" class="login-button" type="button">Login</button>
        </div>
    </div>
</body>
</html>