.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-controls input,
.login-controls button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 1.5em;
}

.login-controls input[type="password"] {
    margin: 10px 0;
}

.login-button {
    color: black;
    background-color: lightgrey;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: lightblue;
}